
@import url('https://fonts.googleapis.com/css2?family=Open+Sauce+Sans:wght@400;700&display=swap');


#hero {
    background-image: url('../../assets/bookhub.png'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  header {
    background-color: #faefe0; 
  }

  .header-text {
    font-size: 40px;  /* Adjust font size */
    font-weight: bold;  /* Make the text bold */
    margin-left: 20px;  /* Add space between logo and text */
    font-family: 'Open Sauce Sans', 'Arial', sans-serif;
  }
  
  .logo {
    width: 50px;  
    height: 50px;
  }
  

  .cta-button {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: #d0ba9e; 
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5rem;
    position: absolute;  
    right: 25%;         
    bottom: 40%;         
  }
  
  
  .cta-button:hover {
    background-color: rgb(131, 114, 92); 
  }
