html, body {
    background-color: #faefe0;
    min-height: 100vh;
   
}
.icon-style {
        font-size: 30px; 
        color: rgb(131, 114, 92);  
        transition: color 0.3s ease; 
      }
      
      .icon-style:hover {
        color: rgba(165, 42, 42, 0.213); 
        cursor: pointer; 
      }
      
