@import url("https://fonts.googleapis.com/css?family=montserrat");


.form {
    background-color: #faefe0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #faefe0;
    padding: 2rem;
    
  }
  
  /* Center heading above form */
  .form-container h1 {
    font-size: 2.2rem;
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 10%;
    font-family: 'montserrat'

  }
.form h1 {
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem; /* Space between heading and form */
  }
  .form-border {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20%;
  }

#signup-btn {
    margin-top: 20px;
    margin-bottom: 10px;
}
#username-input {
    margin-bottom: 10px;
    margin-top: 10px;
}

